HospitalXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema   xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<xs:element name = "hospital">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "employee" minOccurs = "1" maxOccurs = "unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="role" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="id" type="xs:int"/>
						</xs:sequence>
						<xs:attribute name = "id" type = "xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>	
	</xs:element>
</xs:schema>